@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#menu {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url("../img/bg5.png");
  z-index: 999;
  min-height: 680px;
  display: grid;
  grid-template-rows: 380px 320px;
  grid-template-columns: 500px;
  justify-content: center;
  grid-template-areas:
    'header'
    'main';
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
}

#menu img {
  width: 500px;
  height: 300px;
}

#naam, #groep, #thema {
  display: none;
}

.menuoption {
  font-size: 20px;
}

.menuoption button {
  width: 500px;
  height: 50px;
  margin-top: 20px;
  font-size: 20px;
}

.menuoption input {
  width: 500px;
  height: 30px;
  font-size: 20px;
}

.menuoption p {
  margin-top: 20px;
}

#wrapper {
  display: none;
  height: 100%;
  grid-template-rows: 60px minmax(835px, 1fr) 30px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';
  color: white;
  text-shadow: -2px 2px black;
}

#wrapper header {
  background: url("../img/bg1.png");
  text-align: center;
  border-bottom: 5px solid black;
  font-size: 25px;
}
header.jongen{
  background-image: url("../img/bg3.png");
}
.jongen{
    background-image: url("../img/bg2.png");
}
footer.jongen{
  background-image: url("../img/bg3.png");
}
header.meisje{
  background-image: url("../img/bg1.png");
}
.meisje{
    background-image: url("../img/bg.png");
}
footer.meisje{
  background-image: url("../img/bg1.png");
}
#alleen {
  background-color: black;
  color: white;
  border: 2px solid grey;
  border-radius: 5px;
}
#tegen {
  background-color: black;
  color: white;
  border: 2px solid grey;
  border-radius: 5px;
}
#groep4 {
  background-color: black;
  color: white;
  border: 2px solid grey;
  border-radius: 5px;
}
#groep8 {
  background-color: black;
  color: white;
  border: 2px solid grey;
  border-radius: 5px;
}
#jongen {
  background-color: #89cff0;
  color: black;
  border: 2px solid grey;
  border-radius: 5px;
}
#meisje {
  background-color: #FFB6C1;
  color: black;
  border: 2px solid grey;
  border-radius: 5px;
}
#button {
  background-color: black;
  color: white;
  border: 2px solid grey;
  border-radius: 5px;
}

main {
  height: 100%;
  grid-area: main;
  background: url("../img/bg.png");
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(600px, 1fr) minmax(600px, 1fr);
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    'speler1 speler2'
    'spel spel';
}

#speler1 {
  grid-area: speler1;
  border-bottom: 5px solid black;
  background: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
  display: grid;
  grid-template-rows: 160px 1fr;
  grid-template-columns: 120px 1fr;
  grid-template-areas:
    'namenveld1 kaartenveld1'
    'mededeling1 mededeling1';
}

#namenveld1 {
  grid-area: namenveld1;
}

#time {
  display: none;
}

#kaartenveld1 {
  grid-area: kaartenveld1;
  display: grid;
  grid-template-rows: repeat(2, 70px);
  grid-template-columns: repeat(4, 52px);
}

#kaartenveld1 img {
  height: 70px;
}

#mededeling1 {
  grid-area: mededeling1;
}

#spel {
  height: 100%;
  grid-area: spel;
  align-self: center;
  display: grid;
  grid-template-rows: repeat(4, 160px);
  grid-template-columns: repeat(4, 120px);
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  grid-gap: 0.7em;
}

#spel img {
  height: 150px;
  width: 110px;
}

#spel img:hover {
  opacity: 0.7;
  transition: 0.1s;
  cursor: pointer;
}

#speler2 {
  grid-area: speler2;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  background: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
  display: grid;
  grid-template-rows: 160px 1fr;
  grid-template-columns: 120px 1fr;
  grid-template-areas:
    'namenveld2 kaartenveld2'
    'mededeling2 mededeling2';
}

#namenveld2 {
  grid-area: namenveld2;
}

#kaartenveld2 {
  grid-area: kaartenveld2;
  display: grid;
  grid-template-rows: repeat(2, 70px);
  grid-template-columns: repeat(4, 52px);
}

#kaartenveld2 img {
  height: 70px;
}

#mededeling2 {
  grid-area: mededeling2;
}

#wrapper footer {
  grid-area: footer;
  background: url("../img/bg1.png");
  text-align: center;
  border-top: 5px solid black;
}
.card {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: 0.4s;
}
.card:hover {
  background-color: #89cff0;
  color: #89cff0;
  opacity: 0.8;
}
