@import url('https://fonts.googleapis.com/css?family=Ubuntu');
* {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#menu {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url("../img/bg4.png");
  z-index: 999;
  min-height: 680px;
  display: grid;
  /* display: none; */
  grid-template-rows: 380px 320px;
  grid-template-columns: 500px;
  justify-content: center;
  grid-template-areas:
    'header'
    'main';
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
}

#menu img {
  width: 500px;
  height: 300px;
}

#naam, #groep, #thema {
  display: none;
}

.menuoption {
  font-size: 20px;
}

.menuoption button {
  width: 500px;
  height: 50px;
  margin-top: 20px;
  font-size: 20px;
}

.menuoption input {
  width: 500px;
  height: 30px;
  font-size: 20px;
}

.menuoption p {
  margin-top: 20px;
}

#wrapper {
  /* display: grid; */
  display: none;
  height: 100%;
  grid-template-rows: 60px minmax(835px, 1fr) 30px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';
  color: white;
  text-shadow: -2px 2px black;
}

#wrapper header {
  background: url("../img/bg1.png");
  text-align: center;
  border-bottom: 5px solid black;
  font-size: 25px;
}

main {
  grid-area: main;
  background: url("../img/bg.png");
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(250px, 1fr) 640px minmax(250px, 1fr);
  grid-template-areas:
    'speler1 spel speler2';
}

#speler1 {
  grid-area: speler1;
  border-right: 5px solid black;
  background: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
}

#spel {
  grid-area: spel;
  align-self: center;
  display: grid;
  grid-template-rows: repeat(4, 206px);
  grid-template-columns: repeat(4, 150px);
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

#spel img {
  width: 140px;
  height: 200px;
}

#spel img:hover {
  opacity: 0.7;
  transition: 0.1s;
  cursor: pointer;
}
/* 
#speler2 {
  grid-area: speler2;
  border-left: 5px solid black;
  background: rgba(255, 255, 255, 0.2);
  padding-right: 10px;
} */

#wrapper footer {
  grid-area: footer;
  background: url("../img/bg1.png");
  text-align: center;
  border-top: 5px solid black;
}
